# ignore current node_modules
node_modules
# ignore source control
.git
# ignore examples
config/secrets.json.examples
# ignore . files
.gitignore
.gitattributes
.codebeatignore
.eslintrc.json
# ignore docs
docs
readme.md