# ignore current node_modules
node_modules
# ignore source control
.git
# ignore examples
config/secrets.json.examples
# ignore . files
.gitignore
.codebeatignore
.github
.eslintrc.json
.npmignore
# ignore docs
docs
readme.md