version: "3"
services:
    niles:
        image: mchangrh/niles:latest
        container_name: niles
        volumes:
            - type: volumes
              source: niles-stores
              target: /usr/src/niles/stores
            - type: bind
              source: ./secrets.json
              target: /usr/src/niles/config/secrets.json
            - type: bind
              source: ./niles-sa.json
              target: /usr/src/niles/config/niles-sa.json

volumes:
    niles-stores: