{
    "bot_token": "",
    "service_acct_id": "",
    "service_acct_keypath": "",
    "oauth_acct_keypath": "",
    "support_discord_channel": "",
    "calendar_update_interval": 300000,
    "super_admin": "",
    "other_admin": [],
    "log_discord_channel": ""
}
