{
    "bot_token": "",
    "service_acct_id": "",
    "service_acct_keypath": "",
    "support_discord_channel": "",
    "current_version": "",
    "calendar_update_interval": 300000,
    "super_admin": ""
}
